<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpushkarskaya.journey">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_journey"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="398e3704c1b1a2a286421b27c5a40cc0dd883a93"
            />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>